.address-modal-container {
  background-color: rgba(68, 68, 68, 0.6);
  width: 100vw;
  height: calc(100vh - 4rem);
  top: 4rem;
  position: fixed;
  z-index: 20;
  .address-modal {
    width: 30rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .form-group {
      overflow: auto;
      height: 60vh;
      .form-control {
        width: 100%;
      }
      .btn-container {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

@media (max-width: 700px) {
  .address-modal-container {
    .address-modal {
      width: 80%;
    }
  }
}
