.navigationbar-container {
  position: sticky;
  z-index: 25;
  top: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  // transition: var(--default-transition);
  // box-shadow: 12px 12px 12px 2px var(--background-color);
  .navbar {
    .product-link {
      margin-left: 2rem;
      letter-spacing: 0.2rem;
      font-weight: bold;
      font-size: larger;
    }
    .product-link:hover {
      color: var(--primary-color);
    }
    .navbar-search {
      display: flex;
      align-items: center;
      color: var(--text-color);
      background-color: var(--body-background-color);

      input {
        border: none;
        color: var(--text-color);
        background-color: var(--body-background-color);
      }
      i {
        padding: 10px 10px;
        background-color: var(--body-background-color);
      }
      .search-cancel {
        cursor: pointer;
      }
      .search-cancel:hover {
        color: var(--error);
      }
      .search-btn {
        cursor: pointer;
        border-bottom: 1px solid var(--primary-color);
      }
    }
    .navigation-buttons {
      .theme-container {
        cursor: pointer;
      }
      .menu-hamburg {
        display: none;
      }
      .avatar-circular {
        height: 2rem;
        width: 2rem;
        font-size: 1rem;
      }
      .dropdown {
        display: inline-block;
        position: relative;
        .dropdown-content {
          display: none;
          position: absolute;
          left: -1rem;
          width: 5rem;
          overflow: auto;
          box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
          color: var(--black);
          div {
            padding: 5px;
            left: -2rem;
            background-color: var(--white);
            cursor: pointer;
          }
          div:hover {
            background-color: var(--bg-grey);
          }
        }
      }
      .dropdown:hover {
        .dropdown-content {
          display: block;
          z-index: 5;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .navigationbar-container {
    height: fit-content;
    .navbar {
      display: flex;
      flex-direction: column;
      .navbar-header {
        width: 100vw;
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        .main-title {
          font-size: 1.5rem;
        }
        .product-link {
          margin-left: 0;
        }
      }

      .navbar-search {
        display: none;
      }
      .navigation-buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .menu-hamburg {
          display: block;
        }
      }
    }
  }
}
